@import url(https://fonts.googleapis.com/css?family=Raleway); 
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap);

html{
    font-family: "raleway";
    scroll-behavior: smooth;
    text-align: center;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/background.png);
    background-size: 100%;
    background-color: #040404;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.large-font{
    font-family: 'Montserrat Subrayada';
    font-size: 5vw;
    color: black;
    font-weight: bolder;
    margin-top: -7vh;
}

.small-font{
    font-size: 3.2vw;
}

.small-font-margin{
    margin-top: -12vh;
}

div{
    display: block;
}

.landingpage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes float{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-1vw);}
    100%{transform: translateY(0px);}
}

.landingtext{
    font-family: "montserrat";
    font-weight: 600;
    width: 100%;
    float: left;
    animation: float 5s ease-in-out infinite
}

.content{
    text-align: left;
}

.BTN, .BTN:visited{
    font-family: "Montserrat";
    display: inline-block;
    color: #040404;
    text-decoration: inherit;
    font-size: 1.45vw;
    background: rgba(255, 255, 255, 1);
    border: 0.1vw solid #040404;
    padding: 10px 16px;
    border-radius: 0;
    transition: ease-in-out 0.4s;
}

.BTN:hover{
    background: #040404;
    color: white;
}

.about{
    text-align: center;
    color: white;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.abouthr{
    width: 3%;
    border: 0.1vw solid white;
}

.aboutpicborder{
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    margin-top: -1vh;
    border: 2px solid white;
}

.aboutcontainer{
    display: flex;
    justify-content: center;
}

.paragraph{
    text-align: justify;
    font-family: "roboto";
    color: white;
    height: 13vw;
    width: 24vw;
    font-size: 1.1vw;
    padding-left: 1.5625vw;
}


.center{
    padding-top: 2.8vh;
    width: 35%;
    margin: auto;
    text-align: inline; 
    position: inline-block;
}

.skillbox{
    font-family: 'montserrat';
    box-sizing: border-box;
    width: 100%;
    margin: 1vw 0;
}

.skillbox p{
    color: white;
    text-transform: uppercase;
    margin: 0 0 0.5vw;
    padding: 0;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: left;
    font-size: 1vw;
}

.skillbox p:nth-child(2){
    float: right;
    position: relative;
    top: -1.3vw;
}

.skill{
    background: black;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 1px;
}

.skill_level{
    background: white;
    width: 100%;
    height: 0.5vw;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

meter {
    width: 350px;
    height: 25px;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: transparent;
    border: 2px solid;
}

meter::-webkit-meter-optimum-value {
    background: white;
}

.aboutdivhr{
    width: 41vw;
    border: 2px solid white;
}

.sectiontitle{
    text-align: center;
    color: white;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

section{
    margin-top: 12vh;
}


.certcontainer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

.certimg{
    width: 25vw;
    height: 14.0625vw;
    border: 3px solid white;
    border-radius: 3px;
    margin-left: 0.78125vw;
    margin-right: 0.78125vw;
    transition: 0.4s;
}

.certimg1{
    width: 16.5vw;
    height: 23vw;
    margin-left: 0.78125vw;
    margin-right: 0.78125vw;
    border: 3px solid white;
    transition: 0.4s;
    border-radius: 4px;
}

.certimg2{
    width: 20vw;
    height: 28vw;
    margin-left: 0.78125vw;
    margin-right: 0.78125vw;
    border: 3px solid white;
    transition: 0.4s;
    border-radius: 4px;
}

.certimg:hover{
    opacity: 0.3;
}

.certimg1:hover{
    opacity: 0.3;
}

.certimg2:hover{
    opacity: 0.3;
}

.socialhr{
    margin-top: 3vw;
}

footer{
    color: white;
}

.techitem{
    height: auto;
    width: 5vw;
    margin-left: 1.5625vw;
    background: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 1vw;
}

.techcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.6vw;
    font-family: "Montserrat";
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

.techsection{
    margin-top: 6vh;
}


.mainheader{
    margin-top: 140vh;
    top: 0;
    position: sticky;
    background: #040404;
    box-shadow:  0px 1px 0px 1px white;
    height: 8vh;
    z-index: 100000000;
}

.projectul li {
    padding-top: 0.5vw;
}

.subpageheader{
    
    top: 0;
    position: fixed;
    width: 100%;
    background: #040404;
    box-shadow:  0px 1px 0px 1px white;
    height: 8vh;
    z-index: 100000000;

}

nav a{
    font-size: 1vw;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

nav li{
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 1.14vw;
    font-family: "Montserrat";
    margin-left: 2vw;
    margin-right: 2vw;
}


#backtotopbtn{
    position: fixed;
    bottom: 40px;
    right: 35px;
    outline: none;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    font-size: 4vw;
    z-index: 1;
    display: none;
}

::-webkit-scrollbar {
    width:  8px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}


nav li a:hover{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;
}

div.show-image {
    position: relative;
}

div.show-image:hover img{
    opacity: 0.3;
}

div.show-image p {
    color: white;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 1vw;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    display:none;
}



div.show-image:hover p{
    display: block; 
}

div.show-image a, div.show-image a:visited{
    font-family: "montserrat";
    margin-top: 2%;
    font-size: 1vw  ;
    color: black;
    text-decoration: none;
    position: absolute;
    display: none;
    border: 0.15625vw solid black;
    padding: 0.4vw;
    background: white;
    transition: 0.4s;
    width: 50%;
    left: 23%;
    top: 50%;
    text-align: center;
    
}

div.show-image:hover a{
    display: block;
    position: absolute;
}

div.show-image a:hover {
    background: black;
    color: white;
    border: 3px solid white;
}

.lightbox {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 50;
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 10%;
}

.lightbox:target {
	display: block;
}

.defaultimg{
    width: 36vw;
    height: auto;
}

.techcontainermobile{
    display: none;
    flex-direction: row;
    margin-top: 20px;
    font-family: "Montserrat";
    font-weight: bold;
}

.techitemmobile{
    height: auto;
    margin: auto;
    width: 96px;
    background: white;
    border-radius: 5px;
    padding: 8px;
}

.logomobile{
    display: none;
}

.logomobile1{
    display: block;
    float: left;
    padding-top: 0.5vw;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 2px;
    margin-left: 1vw;
}

.logomobile1:hover{
    opacity: 0.75;
}

.projectbg{
    background: black;
    background-image: none;
}

.projectimg{
    border: 3px solid white;
    border-radius: 4px;
    width: 60%;
}

.projectbody{
    background-image: none;
}

.projectdiv{
    text-align: left;
    color: white;
    width: 50%;
    margin: auto;
}

.porjectdiv h1{
    font-size: 32px;
}

.projectabout{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: auto;
}

.projectabouthr{
    width: 20vw;
    border: 0.05vw solid white;
    float: left;
}

.projectparagraph{
    font-size: 20px;
    line-height: 1.4;
}

.projectli{
    font-family: 'montserrat';
    font-size: 22px;
    list-style: circle;
}

.projectlinking{
    font-size: 22px;
}

.projectlink{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.projectlink:hover{
    text-decoration: underline;
}

.abouthr1{
    width: 7.5%;
    border: 2px solid white;
}

.resource{
    margin-top: 1vh;
    font-size: 0.7vw;
    color: white;
    font-weight: bold;
}

.mobileprojectpreview{
    display: none;
}

.nsg_icon{
    width: 16vw;
    height: 16vw;
    border: 2px solid white;
    border-radius: 4px;
}

#img5 img{
    width: 28%;
    height: auto;
    margin-bottom: auto;
}

#img6 img{
    width: 28%;
    height: auto;
    margin-bottom: auto;
}

#img7 img{
    width: 28%;
    height: auto;
    margin-bottom: auto;
}

#img8 img{
    width: 28%;
    height: auto;
    margin-bottom: auto;
}

.contactsicon{
    width: 48px;
    height: auto;
    margin-left: 1vw;
    margin-right: 1vw;
}

.contactsicon:hover{
    animation-name: contactsicon;
    animation-duration: 0.4s;
}

@keyframes contactsicon{
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-12deg); }
    50% { transform:rotate(12deg); }
    75% { transform: rotate(-7deg); }
    100% { transform:rotate(7deg); }
}


.contactstitle{
    text-align: center;
    color: white;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.note{
    color: white;
    font-size: 0.75vw;
}

.testimonials{
    padding-top: 2.6vw;
    display: flex;
    justify-content: center;
}

.container{
    position: relative;
    color: white;
    text-align: center;
    transition: 0.4s;
}

.centered{
    font-weight: bold;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s;
}

.container:hover .centered{
    opacity: 1;
}

.arrow-margin{
    margin-left: 1vw;
}



@media only screen and (max-width: 768px){

    header li{
        display: none;
    }

    .landingtext{
        color: white;
        font-size: 22px;
    }

    .aboutcontainer{
        display: block;
    }

    .aboutpicborder{
        height: 256px;
        width: 256px;
    }

    .abouthr{
        width: 30%;
        border-width: 2px;
    }

    .paragraph{
        width: 82%;
        height: auto;
        padding-left: 9%;
        font-size: 22px;
    }

    .techcontainer{
        display: none;
    }

    .techcontainermobile{
        display: flex;
        max-width: 80%;
        margin-top: 6vh;
        margin-left: auto;
        margin-right: auto;
    }

    .BTN{
        font-size: 16px;
        transition: 0.2s;
    }



    .BTN:hover{
        border: 2px solid white;

    }

    .logomobile{
        margin: auto;
        display: block;
        font-size: 26px;
        float: left;
        margin-top: 1.6vh;
    }

    .logomobile1{
        font-size: 7vw;
    }

    .certcontainer{
        display: block;
        margin: auto;
    }
    .certimg{
        width: 80%;
        height: auto;
        margin: auto;
    }
    .certimg1{
        width: 70%;
        height: auto;
        margin: auto;
    }
    .certimg2{
        width: 70%;
        height: auto;
        margin: auto;
    }

    #backtotopbtn{
        bottom: 10px;
        right: 10px;
        font-size: 8vh;
    }

    div.show-image:hover img{
        opacity: 1;
    }

    .sectiontitle{
        font-size: 8.5vw;
    }

    .about{
        font-size: 8.5vw;
    }

    .mobileimg{
        display: block;
    }

    .center{
        width: 80%;
    }

    .abouthr1{
        width: 37.5%;
    }

    .lightbox img {
        width: 70vh;
        height: auto;
        margin-top: 38vh;
    }

    #img5 img{
        width: 80%;
        height: auto;
        margin-top: 20vh;
    }

    #img6 img{
        width: 80%;
        height: auto;
        margin-top: 20vh;
    }
    
    #img7 img{
        width: 80%;
        height: auto;
        margin-top: 20vh;
    }

    #img8 img{
        width: 80%;
        height: auto;
        margin-top: 20vh;
    }

    .projectpreview{
        display: none;
    }

    .projectdiv{
        width: 80%;
    }

    .projectparagraph{
        line-height: 1.2;
    }

    .mobileprojectpreview{
        display: block;
    }

    .skillbox{
        margin: 30px 0;
    }
     
    .skillbox p{
        font-size: 22px;
    }

    .skill_level{
        height: 10px;
    }

    .skillbox p:nth-child(2){
        top: -24px;
        font-size: 14px;
    }

    .socialhr{
        margin-top: 20vw;
    }

    .resource{
        font-size: 12px;
    }

    .contactstitle{
        font-size: 6.5vw;
    }

    .note{
        font-size: 12px;
    }

    .small-font{
        font-size: 7vw;
        color: white;
        margin: auto;
    }

    .large-font{
        font-size: 10vw;
        color: white;
        margin: auto;
        width: 90vw;
    }

    .BTN{
        margin-top: 3vh;
    }

    .testimonials{
        display: block;
    }

    .centered{
        font-size: 5vw;
    }

    .arrow-margin{
        margin-left: 3vw;
    }
}

@media only screen and (max-width: 1280px){

    nav li{
        padding-top: 13px;
    }
}
