@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background: rgb(222,222,222);
    background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(112,112,112,1) 100%);
}

.bg1{
    background: rgb(222,222,222);
    background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(112,112,112,1) 100%);
}
.position {
    margin: 0;
    padding: 0;
    left: 50%;
    top: 40%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.text {
    font-size: 60px;
    font-weight: bold;
    animation-name: text;
    animation-duration: 3.7s;
}

@keyframes text {
    0%{
        color: transparent;
        letter-spacing: 1vw;
    }
}

.text1 {
    font-size: 43px;
    animation-name: text1;
    animation-duration: 5s;
}

@keyframes text1 {
    0%{
        color: transparent;
    }
}

.landinganchor {
    animation-name: landinganchor;
    animation-duration: 5s;
}

@keyframes landinganchor {
    0%{
        color: transparent;
    }
}

.landingimg {
    width:  250px;
    animation-name: landingimg;
    animation-duration: 1.3s;
}

@keyframes landingimg {
    0%{
        opacity: 0%;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    0%{
        color: transparent;
        background-color: transparent;
    }

}

.heading{
    animation: heading;
    animation-duration: 4s;
}

@keyframes heading{
    0%{
        color: transparent;
    }
}


.showcase, .showcase:visited {
    padding:  15px 24px;
    display: inline-block;
    border: 2px solid;
    border-radius: 4px;
    text-decoration: inherit;
    color: #0b0c10;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: transparent;
    transition: 0.4s;
    margin-top: 20px;
    font-size:  16px;
}

.showcase:hover {
    background-color: #0b0c10;
    color: #ffffff;
    border-color: transparent;
}

nav {
    float: right;
}

.home{
    color: black;
    font-weight: bold;
    transition: 0.4s;
}

.home:hover{
    color:white;
    letter-spacing: 4px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin: -5px;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 0 0 0;
    position: fixed;
    background: rgb(222,222,222);
    background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(112,112,112,1) 100%);
    box-shadow: 0px 2px 2px -2px black;
}

header {
    margin-bottom: 80px;
    top: -30px;
    margin-top: -10px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo1 {
    float: left;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

nav li {
    display: inline-block;
    padding-top: 35px;
    margin-left: 40px;
    margin-right: 20px;
}

nav a{
    color: #0b0c10;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s;
}

nav a:hover {
    letter-spacing: 4px;
    color: white;
}

.mypic {
    height: 250px;
    border-radius: 50%;
    border: 3px solid;
    animation-name: mypic;
    animation-duration: 2.5s;
}

@keyframes mypic {
    0%{
        height: 70px;
    }
}

.abouthr {
    height: 6px; 
    background: black; 
    margin-bottom: 80px; 
    width: 5%;
    margin: auto;
}

.divhr {
    background-color: black;
    height: 2px;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
}

p {
    line-height: 1.8;
}

.moretext {
    float: left;
}

::-webkit-scrollbar {
    width:  8px;
}

::-webkit-scrollbar-track {
    background: #aeaeae;
}

::-webkit-scrollbar-thumb{
    background: #595959;
    border-radius: 4px;

}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

footer {
    margin-bottom: 50px;
}

.icon {
    height: 40px;
    opacity: 60%;
    transition: 0.5s;
}

.icon:hover {
    opacity: 100%;
    height: 46px;
}

.credit {
    text-transform: uppercase;
    font-size: 13px;
}

li {
    list-style: none;
}

.ccaimg {
    margin-top: 24px;
    margin-bottom: 14px;
}

.showcaseimg {
    height: 500px;
    margin-top: 24px;
    max-width: 100%;
}

.explanation {
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

.responsiveimg {
    width: 750px;
    border-radius: 15px;
    padding: 10px;
    background: #0a0a23;
}

.infoimg {
    width: 1014px;
}

ul {
    font-size: 16px;
}

.box {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.responsiveimg1 {
    width: 300px;
    border-radius: 15px;
    background: #0a0a23;
    padding: 10px;
}

.responsiveimg2 {
    width: 556px;
    height: 790px;
    border-radius: 15px;
    background: #0a0a23;
    padding: 10px;
}

meter {
    width: 250px;
    height: 35px;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: transparent;
    border: 2px solid;
}

meter::-webkit-meter-optimum-value {
    background: black;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.item{
    height: 128px;
    width: 128px;
    margin-left: 15px;
    font-weight: bold;
    border-radius: 16px;
    background: black;
    padding: 10px;
}

.meterbar{
    font-weight: bold;
}

.bordertext{
    border-radius: 15px;
    background: #ffffff;   
    padding: 30px;
    width: 850px;
    margin: auto;   
}

.btnmargin{
    margin-right: 50px;
}

@media only screen and (max-width: 600px) {

    .abouthr {
        width: 40%  ;
    }

    nav{
        float: none;
    }

    nav li{
        display: none;
    }

    .container{
        position: relative;
    }

   div{
       max-width: 100%;
   }

   .bordertext{
       max-width: 80%;
   }

   .item{
    height: 60px;
    width: 60px;
    margin-left: 0.78vw;
    font-weight: bold;
    border-radius: 0.83vw;
    background: black;
    padding: 0.5vw;
    }

    .btnmargin{
        margin-right: 0px;
    }
}

@media only screen and (min-width: 600px) {
    nav{
        float: none;
    }
    @keyframes text {
        0%{
            color: transparent;
            letter-spacing: 0.31vw;
        }
    }
    
} 

@media only screen and (min-width: 992px) {
    .container {
        display: inherit;
    }
}

@media only screen and (max-width: 1280px) {
    .landingimg {
        height: 13vw;
        height: auto
    }
    
}