@import url(https://fonts.googleapis.com/css?family=Raleway); 
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html{
    font-family: "raleway";
    scroll-behavior: smooth;
    text-align: center;
}

body{
    background-image: url(img/landscape_background_3107.jpg);
    background-size: 100%;
    background-color: #040404;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

div{
    display: block;
}

.landingpage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.landingtext{
    font-size: 2.6vw;
    font: bold;
}

.content{
    text-align: center;
}

.BTN, .BTN:visited{
    font-family: "Montserrat";
    display: inline-block;
    color: #040404;
    text-decoration: inherit;
    font-size: 1.45vw;
    background: rgba(255, 255, 255, 0.7);
    border: 0.1vw solid #040404;
    padding: 10px 16px;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
}

.BTN:hover{
    background: #040404;
    color: white;
}

.BTN:active{
    font-size: 26px;
    transition: 170ms;
}

.about{
    text-align: center;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.abouthr{
    width: 3%;
    border: 2px solid white;
}

.aboutpicborder{
    height: 256px;
    width: 256px;
    border-radius: 50%;
    border: 2px solid white;
}

.aboutcontainer{
    display: flex;
    justify-content: center;
}

.paragraph{
    text-align: justify;
    font-family: "roboto";
    color: white;
    height: 256px;
    width: 500px;
    font-size: 20px;
    padding-left: 30px;
}


.center{
    width: 35%;
    margin: auto;
    text-align: inline; 
    position: inline-block;
}

.skillbox{
    font-family: 'montserrat';
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skillbox p{
    color: white;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: left;
}

.skillbox p:nth-child(2){
    float: right;
    position: relative;
    top: -25px;
}

.skill{
    background: black;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 1px;
}

.skill_level{
    background: white;
    width: 100%;
    height: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

meter {
    width: 350px;
    height: 25px;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: transparent;
    border: 2px solid;
}

meter::-webkit-meter-optimum-value {
    background: white;
}

.aboutdivhr{
    width: 41vw;
    border: 2px solid white;
}

.sectiontitle{
    text-align: center;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

section{
    margin-top: 12vh;
}


.certcontainer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

.certimg{
    width: 25vw;
    height: 14.0625vw;
    border: 2px solid white;
    border-radius: 4px;
    margin-left: 30px;
    transition: 0.4s;
}

.certimg1{
    width: 16.5vw;
    height: 23vw;
    margin-left: 30px;
    border: 2px solid white;
    transition: 0.4s;
}

.certimg2{
    width: 20vw;
    height: 28vw;
    margin-left: 30px;
    border: 2px solid white;
    transition: 0.4s;
}

.socialhr{
    margin-top: 100px;
}

footer{
    color: white
}

.techitem{
    height: auto;
    width: 96px;
    margin-left: 30px;
    background: white;
    padding: 8px;
    border-radius: 5px;
}

.techcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    font-family: "Montserrat";
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

.techsection{
    margin-top: 6vh;
}


header{
    margin-top: 140vh;
    top: 0;
    position: sticky;
    background: #040404;
    box-shadow:  0px 1px 0px 0px white;
    height: 8vh;
    z-index: 100000000;
}

nav a{
    font-size: 1vw;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav li{
    text-transform: uppercase;
    display: inline-block;
    padding-top: 1.1458333333333333vw;
    margin-left: 2.08vw;
    margin-right: 1vw;
    font-family: "Montserrat";
}

#backtotopbtn{
    position: fixed;
    bottom: 40px;
    right: 35px;
    outline: none;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    font-size: 50px;
    z-index: 1;
    display: none;
}

::-webkit-scrollbar {
    width:  8px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

nav li a:hover{
    letter-spacing: 2px;
    border-bottom: 0.15625vw solid white;
    border-top: 0.15625vw solid white;
}

div.show-image {
    position: relative;
}

div.show-image:hover img{
    opacity: 0.3;
}

div.show-image p {
    color: white;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 20px;
    position: absolute;
    top: 40%;
    padding: 0;
    left: 53%;
    margin: 0;
    transform: translate(-50%, -50%);
    display:none;
}

div.show-image:hover p{
    display: block;
}

div.show-image a, div.show-image a:visited{
    font-family: "montserrat";
    margin-top: 2%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    position: absolute;
    display: none;
    border: 3px solid black;
    padding: 8px;
    background: white;
    transition: 0.4s;
    width: 50%;
    left: 25%;
    right: 25%;
    top: 50%;
}

div.show-image:hover a{
    display: block;
    text-align: center;
    
}

div.show-image a:hover {
    background: black;
    color: white;
    border: 3px solid white;
}

.lightbox {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 50;
}

.lightbox img {

	max-width: 90%;
	max-height: 80%;
	margin-top: 10%;
}

.lightbox:target {
	display: block;
}

.defaultimg{
    width: 50vw;
}

.techcontainermobile{
    display: none;
    flex-direction: row;
    margin-top: 20px;
    font-family: "Montserrat";
    font-weight: bold;
}

.techitemmobile{
    height: auto;
    margin: auto;
    width: 96px;
    background: white;
    border-radius: 5px;
    padding: 8px;
}

.logomobile{
    display: none;
}

.logomobile1{
    display: block;
    float: left;
    padding-top: 1.1458333333333333vw;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: 2px;
    margin-left: 1vw;
}

.logomobile1:hover{
    opacity: 0.75;
}

.projectbg{
    background: black;
    background-image: none;
}

.projectimg{
    border: 3px solid white;
    border-radius: 4px;
    width: 60%;
}

.projectbody{
    background-image: none;
}

.projectdiv{
    text-align: left;
    margin-top: 10vh;
    color: white;
    width: 50%;
    margin: auto;
}

.porjectdiv h1{
    font-size: 32px;
}

.projectabout{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: auto;
}

.projectabouthr{
    width: 20vw;
    border: 1px solid white;
    float: left;
}

.projectparagraph{
    font-size: 20px;
    line-height: 1.4;
}

.projectli{
    font-family: 'montserrat';
    font-size: 22px;
    list-style: circle;
}

.projectlinking{
    font-size: 22px;
}

.projectlink{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.projectlink:hover{
    border-bottom: 2px solid white;
}

.abouthr1{
    width: 7.5%;
    border: 2px solid white;
}

@media only screen and (max-width: 600px) {
    header li{
        display: none;
    }

    .landingtext{
        color: white;
        font-size: 22px;
    }

    .aboutcontainer{
        display: block;
    }

    .abouthr{
        width: 30%;
    }

    .paragraph{
        width: 82%;
        height: auto;
        padding: 9%;
    }

    .techcontainer{
        display: none;
    }

    .techcontainermobile{
        display: flex;
        padding: 10%;
        max-width: 80%;
    }

    .BTN{
        font-size: 16px;
    }

    .BTN:active{
        font-size: 14px;
    }

    .logomobile{
        margin: auto;
        display: block;
        font-size: 26px;
        float: left;
        margin-top: 4%;
    }
    .certcontainer{
        display: block;
        margin: auto;
    }
    .certimg{
        width: 80%;
        height: auto;
        margin: auto;
    }
    .certimg1{
        width: 70%;
        height: auto;
        margin: auto;
    }
    .certimg2{
        width: 70%;
        height: auto;
        margin: auto;
    }
    #backtotopbtn{
        bottom: 10px;
        right: 10px;
    }

    div.show-image:hover p{
        display: none;
    }

    div.show-image:hover a{
        display: none;
    }

    div.show-image:hover img{
        opacity: 1;
    }

    .sectiontitle{
        font-size: 8.5vw;
    }

    .about{
        font-size: 8.5vw;
    }

    .mobileimg{
        display: block;
    }

    .center{
        width: 80%;
    }

    .abouthr1{
        width: 37.5%;
    }
}